body{
    background-color: #CCC7B9 !important;
    height: 100%;
    margin: 0;
    overflow: hidden
}

.login-form{
    margin: 25vh;
    padding: 5vh;
    width: 25vw; 
    opacity: 0.95;
   
}

.table-container{
    padding: 15px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width:32vw;
    height:64.5vh;
    overflow:auto;
}

.action-bar{
    padding: 15px;
    margin-left: 1.5vw;
    margin-top: 15px;
    width:84vw;
}

.charts-container{
    padding: 15px;
    width: 50vw;
    height: 64.5vh;
    text-align: center;
}

.table-headers{
    font-weight: bold;
    background-color: #DDE1E3;
}

.headers-item, .transaction-item{
    border: 1px solid #A9AEBE;
}

.spinner{
    position: relative;
    top: 20vh;
    left: 13vw;
}

.spinner2{
    position: relative;
    top: 20vh;
}

.register-form{
    margin: 25vh;
    padding: 5vh;
    width: 40vw;
    opacity: 0.95;
}
